  
    @media (min-width: 500px){
				header{
					padding: 15px;	 
                  background-color: #67ACF2;

              }
              nav{
					padding: 5px;	 
                  background-color: #67ACF2;

			}
               .button {
  					background-color: #67ACF2;
  					border: none;
  					color: white;
  					padding: 3px;
 					 text-align: center;
  					text-decoration: none;
  					display: inline-block;
 					 font-size: 18px;
 					 margin: 5px 3px;
 					 cursor: pointer;
 					 border-radius: 12px;
				}

.link{
	color: #1E10E6;
}

			
	}
    @media (max-width: 499px){
				header{
					 
                  background-color: #F0BDFD;
                  padding: 10px
					 
				}
				nav{
					 
                  background-color: #F0BDFD;
                  padding: 5px;
					 
				}
				 .button {
  					background-color:  #F0BDFD;
  					border: none;
  					color: white;
  					padding: 3px;
 					 text-align: center;
  					text-decoration: none;
  					display: inline-block;
 					 font-size: 18px;
 					 margin: 5px 3px;
 					 cursor: pointer;
 					 border-radius: 12px;
				}

.link{
	color:  #C011C0;
}

			}
 
			
   .image{
   	  text-align: center;
   	  max-width: 100%;
   	  height: auto;

   }

   .active{
   		background-color: #DDDDF4; 

  					border: none;
  					color: white;
  					padding: 5px;
 					 text-align: center;
  					text-decoration: none;
  					display: inline-block;
 					 font-size: 18px;
 					 margin: 5px 3px;
 					 cursor: pointer;
 					 border-radius: 12px;
   }

h1{
	color: white;
}

.body{
	 margin: 20px;
   
}

footer{
 	text-align: center;
 }  